@{
    ViewBag.Title = "Home Page";
}

@section css {
    @Styles.Render("~/Content/home.css")
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Historique des achats @Html.ActionLink("Voir Plus", "Index", "Purchases", new { area = "" }, new { @class = "pull-right white" })</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var history in ViewBag.History)
                    {
                        <tr>
                            <td>@history.Product.name</td>
                            <td>@Math.Round(history.Product.cost_with_margin, 2)€</td>
                            <td>@history.date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

