@{
    ViewBag.Title = "Home Page";
}

@section css {
    @Styles.Render("~/Content/home.css")
}

<div class="col-md-7" style="background-color: blue">
    <br/>
</div>

<div class="col-md-4 col-md-offset-1">
    @if (ViewBag.Money != null)
    {
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Etat du compte actuellement:</div>
                </div>
                <div class="panel-body">
                    <p class="current-money">Votre compte: <b>@ViewBag.Money</b> Euros</p>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.Users != null && ViewBag.Products != null)
    {
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Marquer une consommation</div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Create", "Purchases", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row padded-row">
                            <label>Sélectionner un login</label>
                            <select class="form-control" name="login">
                                @foreach (var user in ViewBag.Users)
                                {
                                    <option value="@user.login">@user.login</option>
                                }
                            </select>
                        </div>
                        <div class="row padded-row">
                            <label>Sélectionner un produit</label>
                            <select class="form-control" name="id_prod">
                                @foreach (var product in ViewBag.Products)
                                {
                                    <option value="@product.id">@product.name</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    }
                </div>
            </div>
        </div>
    }
</div>