@{
    ViewBag.Title = "Purchases";
}

@section css {
    @Styles.Render("~/Content/home.css")
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Historique des achats</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Ajouté par</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purchase in ViewBag.Purchases)
                    {
                        <tr>
                            <td>@purchase.Product.name</td>
                            <td>@Math.Round(purchase.Product.cost_with_margin, 2)€</td>
                            <td>@purchase.date</td>
                            <td>@purchase.added_by</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Historique des accomptes</div>
        <div class="panel-body">
            @if (ViewBag.Accounts.Length > 0)
            {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Valeur</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in ViewBag.Accounts)
                    {
                        <tr>
                            <td>@account.argent</td>
                            <td>@account.date</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <h4>Pas d'accomptes faits</h4>
            }
        </div>
    </div>
</div>