@{
    ViewBag.Title = "Purchases";
}

@section css {
    @Styles.Render("~/Content/home.css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
}

@section scripts {
<script>
var ctx = document.getElementById("monthChart");
var monthChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
           @foreach(KeyValuePair<DateTime, LBCFUBL.Controllers.PurchasesController.Data> elt in ViewBag.MonthMap)
           {
                @Html.Raw("\"")@(elt.Key.ToString("MMMM yyyy"))@Html.Raw("\",")
           }
        ],
        datasets: [
            {
               label: 'Dépenses ce mois-ci',
               data: [
                   @foreach(KeyValuePair<DateTime, LBCFUBL.Controllers.PurchasesController.Data> elt in ViewBag.MonthMap)
                   {
                       @elt.Value.first @Html.Raw(",")
                   }
               ],
                backgroundColor: [
                 'rgba(255, 99, 132, 0.2)',
                ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
            },
            {
                label: "Etat du compte",
                data: [
                       @foreach(KeyValuePair<DateTime, LBCFUBL.Controllers.PurchasesController.Data> elt in ViewBag.MonthMap)
                        {
                                   @elt.Value.second @Html.Raw(",")
                        }
                ],
                backgroundColor: [
                 'rgba(10, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(10, 99, 132,1)',
                ],
                borderWidth: 1
        }]
    },
    options: {
        showTooltips: true,
        responsive: true,
    }
});
</script>


<script>
var ctx = document.getElementById("dayChart");
var dayChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
           @foreach(KeyValuePair<DateTime, LBCFUBL.Controllers.PurchasesController.Data> elt in ViewBag.DayMap)
           {
                @Html.Raw("\"")@(elt.Key.ToString("dd MMMM yyyy"))@Html.Raw("\",")
           }
        ],
        datasets: [
            {
               label: 'Dépenses ce mois-ci',
               data: [
                   @foreach(KeyValuePair<DateTime, LBCFUBL.Controllers.PurchasesController.Data> elt in ViewBag.DayMap)
                   {
                       @elt.Value.first @Html.Raw(",")
                   }
               ],
                backgroundColor: [
                 'rgba(255, 99, 132, 0.2)',
                ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 1
            },
            {
                label: "Etat du compte",
                data: [
                       @foreach(KeyValuePair<DateTime, LBCFUBL.Controllers.PurchasesController.Data> elt in ViewBag.DayMap)
                        {
                                   @elt.Value.second @Html.Raw(",")
                        }
                ],
                backgroundColor: [
                 'rgba(10, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(10, 99, 132,1)',
                ],
                borderWidth: 1
        }]
    },
    options: {
        showTooltips: true,
        responsive: true,
    }
});
</script>
}


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Dépenses journalières</div>
        <div class="panel-body">
            <canvas id="dayChart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
    <div class="panel-heading">Dépenses mensuelles</div>
        <div class="panel-body">
            <canvas id="monthChart"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Historique des achats</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Date</th>
                        <th>Ajouté par</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purchase in ViewBag.Purchases)
                    {
                        <tr>
                            <td>@purchase.Product.name</td>
                            <td>@Math.Round(purchase.Product.cost_with_margin, 2)€</td>
                            <td>@purchase.date</td>
                            <td>@purchase.added_by</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Historique des accomptes</div>
        <div class="panel-body">
            @if (ViewBag.Accounts.Length > 0)
            {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Valeur</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in ViewBag.Accounts)
                    {
                        <tr>
                            <td>@account.argent €</td>
                            <td>@account.date</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <h4>Pas d'accomptes faits</h4>
            }
        </div>
    </div>
</div>