@{
    ViewBag.Title = "Home Page";
}
@section css {
    @Styles.Render("~/Content/home.css")
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des assistants</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Login</th>
                        <th>Compte</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in ViewBag.Accounts)
                    {
                        <div id="myModal-@(account.Item1)" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajouter un accompte à : @(account.Item1)</h4>
                                    </div>
                                    <div class="modal-body">
                                        @using (Html.BeginForm("Create", "Accounts", null, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" value="@(account.Item1)" name="login"/>
                                            <div class="row padded-row">
                                                <label>Montant : </label>
                                                <input type="number" name="argent" class="form-control" min="0"/>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Valider</button>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <tr>
                            <td>@Html.ActionLink((string)@account.Item1, "Index/" + (string)@account.Item1, "Purchases", new { area = "" }, new { @class = "" })</td>
                            <td style="font-weight: bold;">@account.Item2 €</td>
                            <td align="right">
                                <div class="row">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal-@(account.Item1)">Ajouter accompte</button>
                                </div>
                                <div class="row padded-row">
                                    @{ int? blocked = ViewBag.AccountForUser[account.Item1].is_blocked; }
                                    @using (Html.BeginForm("Block", "Users", null, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="login" value="@account.Item1" />
                                        <input type="hidden" name="block" value="@(blocked == null || blocked == 0 ? 1 : 0)" />
                                        <button class="btn btn-danger">@(blocked == null || blocked == 0 ? "Bloquer" : "Débloquer")</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="createUserModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Inscription d'un assistant: </h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Create", "Users", null, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row padded-row">
                                    <label>Login : </label>
                                    <input type="text" name="login" class="form-control" />
                                    <label>Mot de passe : </label>
                                    <input type="password" name="password" class="form-control" />
                                    <label>Role : </label>
                                    <select class="form-control" name="role">
                                        <option value="1">Assistant</option>
                                        <option value="2">Chef</option>
                                        <option value="3">Admin</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Valider</button>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Inscription d'un assistant</button>

        </div>
    </div>
</div>
