<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBCFUBL - @ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    @if (User.Identity.IsAuthenticated)
    {
        @Styles.Render("~/Content/nav.css")
    }
    @RenderSection("css", required: false)
</head>
<body @RenderSection("bodyclass", required: false)>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar @(ViewBag.User != null && ViewBag.User.is_blocked == 1? "navbar-blocked" : "navbar-default")">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("LBCFUBL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Produits", "Index", "Products", new { }, new { @class = "" })</li>
                                @if (User.IsInRole("admin") || User.IsInRole("chief"))
                                {
                                    <li>@Html.ActionLink("Stock", "Index", "Stock", new { area = "" }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Le Lab", "Index", "Lab", new { area = "" }, new { @class = "" })</li>
                                    if (User.IsInRole("admin"))
                                    {
                                        <li>@Html.ActionLink("Utilisateurs", "Index", "Users", new { area = "" }, new { @class = "" })</li>
                                    }
                                }
                                <li>@Html.ActionLink("Mon compte", "Index", "Purchases", new { area = "" }, new { @class = "" })</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Déconnexion", "LogOut", "Login", new { area = "" }, new { @class = "" })</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }

    <div class="container body-content">
        @if (User.Identity.IsAuthenticated)
        {
            if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    <strong>Erreur </strong> @ViewBag.error
                </div>
            }
            <div class="col-md-7">
                @RenderBody()
            </div>
            <div class="col-md-4 col-md-offset-1">
                @RenderSection("admin", required: false)
                @if (ViewBag.Money != null)
                {
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading @(ViewBag.Money < 0 ? "panel-negative" : "")">
                                <div class="panel-title">Etat du compte actuellement:</div>
                            </div>
                            <div class="panel-body">
                                <p class="current-money">Votre compte: <b @( ViewBag.Money < 0 ? "class=negative" : "")>@ViewBag.Money</b>€</p>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.Users != null && ViewBag.Products != null)
                {
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">Marquer une consommation</div>
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Create", "Purchases", null, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row padded-row">
                                        <label>Sélectionner un login</label>
                                        <select class="form-control" name="login">
                                            @foreach (var user in ViewBag.Users)
                                            {
                                                <option value="@user.login" @((user.is_blocked != null && user.is_blocked > 0) ? "disabled class=stripe" : "")>@user.login</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="row padded-row">
                                        <label>Sélectionner un produit</label>
                                        <select class="form-control" name="id_prod">
                                            @foreach (var product in ViewBag.Products)
                                            {
                                                <option value="@product.id">@product.name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="row padded-row">
                                        <label>Quantité:</label>
                                        <input type="number" name="quantity" value="1" min="1" class="form-control" />
                                    </div>
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Calculatrice</div>
                        </div>
                        <div class="panel-body">

                            <div class="row padded-row">
                                <label>Snack/Canette:</label>
                                <input type="number" id="quantitySnack" value="0" min="0" class="form-control" />
                            </div>
                            <div class="row padded-row">
                                <label>Eau/Freeze:</label>
                                <input type="number" id="quantityWater" value="0" min="0" class="form-control" />
                            </div>
                            <div class="row padded-row">
                                <label>Boissons énergisantes:</label>
                                <input type="number" id="quantityEnergy" value="0" min="0" class="form-control" />
                            </div>
                            <div class="row padded-row">
                                <label>Jus de fruit:</label>
                                <input type="number" id="quantityFruit" value="0" min="0" class="form-control" />
                            </div>
                            <div class="row padded-row">
                                <label>Etudiant</label><input id="student" type="checkbox">
                            </div>
                            <div class="row padded-row">
                                <label>Total:</label>
                                <label id="calculator">0€</label>
                                <br />
                                <button class="btn btn-primary" onclick="calculator()">Calculer</button>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        }
        else
        {
            @RenderBody()
        }
    </div>
    @RenderSection("scripts", required: false)
    <script>
        function calculator() {
            var quantitySnack = document.getElementById("quantitySnack").value;
            var quantityWater = document.getElementById("quantityWater").value;
            var quantityEnergy = document.getElementById("quantityEnergy").value;
            var quantityFruit = document.getElementById("quantityFruit").value;
            var numberProduct = (parseInt(quantityFruit) + parseInt(quantityEnergy) + parseInt(quantityWater) + parseInt(quantitySnack));
            var student = document.getElementById("student").checked;
            var price = ((quantitySnack * 0.6 + quantityWater * 0.3 + quantityEnergy * 1.2 + quantityFruit * 0.7) + (numberProduct * student * 0.1));
            document.getElementById("calculator").innerHTML = (Math.round(price * 100) / 100) + '€';
        }
    </script>
</body>
</html>
